name: CI/CD Pipeline

on:
  push: # Em qualquer commit para a branch main
    branches:
      - main
  pull_request: # Em qualquer pull request para a branch main
    branches:
      - main

jobs:
  cache-e-steps:
    name: Criar Cache e Executar Lint, Prettier, Jest e Codecov com Relatório
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Cache dos modulos do NPM
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ~/.npm # O que vai para cache
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }} # Nome da Cache e Build
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar Modulos If Cache Not Found
        if: steps.cache-npm.outputs.cache-hit != 'true'
        run: npm install
        working-directory: ./mp2_tomas_sousa

      - name: Lint
        run: npm run lint
        working-directory: ./mp2_tomas_sousa

      - name: Prettier
        run: npm run prettier
        working-directory: ./mp2_tomas_sousa

      - name: Jest
        run: npm test -- --coverage
        working-directory: ./mp2_tomas_sousa

      - name: Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./mp2_tomas_sousa/coverage/*.json
          flags: unittests
          name: codecov-umbrella

  deploy-vercel-preview:
    name: Deploy do Vercel em Preview
    runs-on: ubuntu-latest
    needs: cache-e-steps
    steps:
      - name: Analisar Repositorio
        uses: actions/checkout@v4

      - name: Configurar Cache do Node.js
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar Dependências
        run: npm install
        working-directory: ./mp2_tomas_sousa

      - name: Instalar CLI da Vercel
        run: npm install --global vercel@latest
        working-directory: ./mp2_tomas_sousa

      - name: Pull Env Vercel
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
        working-directory: ./mp2_tomas_sousa

      - name: Build Vercel
        run: |
          vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
          vercel build --token=${{ secrets.VERCEL_ACCESS_TOKEN}}
        working-directory: ./mp2_tomas_sousa

      - name: Deploy Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
        working-directory: ./mp2_tomas_sousa

  deploy-vercel-production:
    name: Deploy do Vercel em Producao
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
    needs: deploy-vercel-preview
    runs-on: ubuntu-latest
    steps:
      - name: Analisar Repositorio
        uses: actions/checkout@v4

      - name: Configurar Cache do Node.js
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Instalar Dependências
        run: npm install
        working-directory: ./mp2_tomas_sousa

      - name: Instalar CLI da Vercel
        run: npm install --global vercel@latest
        working-directory: ./mp2_tomas_sousa

      - name: Pull Env Vercel
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
        working-directory: ./mp2_tomas_sousa

      - name: Build Vercel
        run: |
          vercel pull --yes --environment=production --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
          vercel build --token=${{ secrets.VERCEL_ACCESS_TOKEN}}
        working-directory: ./mp2_tomas_sousa

      - name: Deploy Vercel
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_ACCESS_TOKEN }}
        working-directory: ./mp2_tomas_sousa
